<ng-template #deleteStudentTemplate>
  <ng-container *ngIf="deleteActionType$ | async as action">
    <ng-container *ngIf="(loadingFetchStudentById$ | async) === false; else loading">
      <div class="modal-body">
        <input type="hidden" id="student-id" class="form-control" [value]="studentId">
        <div class="card bg-light border-light">
          <div class="card-body">
            <p class="text-center text-muted h5 mb-0">El estudiante <strong>{{ student.student.firstname }} {{ student.student.lastname }}</strong> con número de identificación <strong>{{ student.student.documentNumber }}</strong></p>
            <p class="text-center text-muted h5 mb-0">¿Desea eliminarlo?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary text-light" [disabled]="action.loading" (click)="dismiss()">
          <fa-icon [icon]="['fas', 'times']" size="lg"></fa-icon>
          Cancelar
        </button>
        <button type="button" class="btn btn-danger text-light" [disabled]="action.loading" (click)="deleteStudent()">
          <fa-icon [icon]="action.loading ? ['fas', 'spinner'] : ['far', 'trash-alt']" [animation]="action.loading ? 'spin' : undefined" size="lg"></fa-icon>
          Eliminar estudiante
        </button>
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #loading>
  <div class="container">
    <div class="d-flex justify-content-center p-3">
      <fa-icon class="text-black-50" [icon]="['fas', 'spinner']" animation="spin" size="4x"></fa-icon>
    </div>
  </div>
</ng-template>
